$tablet: 1024px;
$mobil: 800px;
$xs-mobil: 390px;

$primary: #0da0ea;
$secondary: #666666;
$tercial: #999999;

$shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);

$font-size: (
  "hlavny": 5rem,
  "popis": 1rem,
  "hodnoty": 1.5rem,
  "datum": 1.1rem,
  "datum-mobil": 1rem,
  "xs-text": 0.6rem,
);

$font-weight: (
  "ultra-light": 100,
  "light": 200,
  "lighter-regular": 300,
  "regular": 400,
  "bold": 500,
);

@function size($font-sizeName) {
  @return map-get($font-size, $font-sizeName);
}

@function weight($font-weightName) {
  @return map-get($font-weight, $font-weightName);
}
