@import "./config";
@import "./header";
@import "./search";
@import "./pocasie";

@mixin flex($justify, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin mobil {
  @media (max-width: $mobil) {
    @content;
  }
}
@mixin xs-mobil {
  @media (max-width: $xs-mobil) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

body {
  background-color: white;
  font-family: "Barlow", sans-serif;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: 100%;
  @include tablet {
    flex-direction: column;
  }
  @include mobil {
    flex-direction: column;
  }

  .pocasie {
    flex: 0.5;
    @include tablet {
      flex: 1;
    }
    @include mobil {
      flex: 1;
    }
  }
}

.description {
  font-size: map-get($font-size, xs-text);
  color: $secondary;
  padding-top: 0.2rem;
  padding-bottom: 0rem;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}
