body {
  background-color: white;
  font-family: "Barlow", sans-serif;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .header {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

@media (max-width: 800px) {
  .container .header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.container .header .head {
  width: 100%;
  -webkit-box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 0px 25px 25px 0px;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .container .header .head {
    border-radius: 0;
    min-height: 20vh;
  }
}

.container .header .head .pocasie__obrazok {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  overflow: hidden;
  border-radius: 0px 25px 25px 0px;
  min-height: 99.6vh;
}

@media screen and (max-width: 1024px) {
  .container .header .head .pocasie__obrazok {
    border-radius: 0;
    -o-object-position: top;
       object-position: top;
    min-height: 35vh;
    max-height: 35vh;
  }
}

.container .pocasie {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

@media screen and (max-width: 1024px) {
  .container .pocasie {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 800px) {
  .container .pocasie {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.container .pocasie .weather {
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .pocasie .weather .content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container .pocasie .weather .content {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    margin-top: -2vh;
    -webkit-box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    min-height: 66vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .container .pocasie .weather .content {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    margin-top: -2vh;
    -webkit-box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    min-height: 66vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .bar {
    margin-top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bar .datum {
  color: #666666;
  font-weight: 400;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  .bar .datum {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }
}

@media (max-width: 390px) {
  .bar .datum {
    font-size: 0.8rem;
  }
}

.bar a {
  background-color: rgba(13, 159, 234, 0.08);
  color: #0da0ea;
  font-size: 1.1rem;
  border: 0;
  padding: 1.1rem;
  border-radius: 25px;
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .bar a {
    font-size: 1rem;
    border-radius: 0px 25px 0px 25px;
    font-weight: 600;
  }
}

@media (max-width: 390px) {
  .bar a {
    font-size: 0.8rem;
  }
}

.bar a:hover {
  background-color: rgba(13, 159, 234, 0.15);
}

.weather-box {
  margin-top: 4rem;
}

.weather-box .weather-actual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 800px) {
  .weather-box .weather-actual {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .weather-box {
    margin-top: 0;
  }
}

.weather-box .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 6rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 1rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .weather-box .value {
    padding: 0.9rem;
    margin-top: 0;
  }
}

@media (max-width: 390px) {
  .weather-box .value {
    padding: 0.5rem;
  }
}

.weather-box .value .description {
  font-size: 0.6rem;
  color: #666666;
  padding-top: 0.2rem;
  padding-bottom: 0rem;
  margin: 0;
}

.weather-box .value h3 {
  padding: 0;
  margin: 0;
}

.weather-box .value .teplota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.weather-box .value .teplota p {
  font-size: 2rem;
  color: #666666;
  font-weight: 400;
}

.weather-box .value .temp {
  font-weight: 400;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -4px;
}

@media (max-width: 390px) {
  .weather-box .value .temp {
    font-size: 3.5rem;
  }
}

.dayTemp {
  color: #999999;
  margin: -1rem;
}

.value-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  max-height: 100%;
}

@media (max-width: 800px) {
  .searchBox {
    min-height: 74.5vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: -5rem;
    background-color: white;
    -webkit-box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
  }
}

.searchBox .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.searchBox .search .searchBar {
  background-color: #f3f3f3;
  border: none;
  padding: 1rem;
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
  color: #999999;
  display: inline-block;
  background-image: url(./location.png);
  background-repeat: no-repeat;
  background-position: 90%;
}

.searchBox h3 {
  color: #999999;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .searchBox h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .searchBox h3 {
    font-size: 1rem;
  }
}

.cities {
  width: 80%;
}

.cities ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .cities ul {
    margin-top: 0.5rem;
  }
}

.cities ul li {
  color: #666666;
  font-size: 1.1rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-top: 0.5rem;
}

@media (max-width: 800px) {
  .cities ul li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
  }
}

.dailyWeather {
  background-color: white;
  -webkit-box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px -7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dailyWeatherTemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dailyWeatherTemp p {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
/*# sourceMappingURL=index.css.map */